textarea {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.9em;
}
input[type=text] {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.9em;
}
.ui-widget {
font-family: Verdana,Arial,sans-serif;
font-size: 0.9em;
}

#leftCol  {
  width:400;
}
#middleCol  {
  width:400;
  float:right;
}

.fieldRow {
	margin:10px;
}

#testDiv {

	background-color:gainsboro;
}
#rightCol {
	float:right;
	width:200px;
}
#drop_zone {
	height:150px;
	padding: 10px;
	background-color:powderblue;
	border-radius: 15px;
	border-style: dashed;
	border-color: green;
	display: table;
}

#drop_zone  p {
  /*display: table-cell; 
  vertical-align: middle; */
  text-align: center; 
}

fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
}
label {
	/*float:left;
	width:25%;*/
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
}
fieldset { 
	border:0px solid green;
	background-color:gainsboro;
	border-radius: 15px;
	margin-right: 20px;
	margin-bottom: 15px;
}

legend {
	padding: 0.2em 0.5em;
	border:0px solid gray;
	border-radius: 15px;
	background-color:gainsboro;
	color:orangered;
	font-size:150%;
	text-align:left;
	font-weight:bold;
}