html{
	font: 14px Arial, sans-serif;
	background-color: #e2e2e2;
	background-image: url('../img/body-BG.png');
	padding: 1em;
}
body {
	margin: 0 auto;
	padding: 3em 1.5em;
	background-color: white;
	box-shadow: 0 0 .5em rgba(0,0,0,.2);
	width: 60em;
}

.optgroup {
	font-weight: bold;
	font-style: oblique;
}

.chosen-container .chosen-results li.group-option .depth-1 {

}

.chosen-container .chosen-results li.group-option.depth-2 {

}

.chosen-container .chosen-results li.group-option.depth-3 {
	padding-left: 30px;
}

.chosen-container .chosen-results li.group-option.depth-4 {
	padding-left: 45px;
}

.chosen-container .chosen-results li.group-option.depth-5 {
	padding-left: 60px;
}

#ez-publish-banner {
	font-size: 2em;
	float: left;
	width: 162px;
	height: 84px;
	background-image: url('../img/ez-publish-logo.png');
	text-indent: -9999px;
	margin-top: 0;
	margin-bottom: .7em;
}
#learning-registry-banner {
	font-size: 2em;
	float: right;
	width: 204px;
	height: 84px;
	background-image: url('../img/lr-logo.png');
	text-indent: -9999px;
	margin-top: 0;
	margin-bottom: .7em;
}
#main-nav {
	clear: both;
}
#main-nav ul {
	text-align: right;
	border-color: #ededed;
	border-style: solid;
	border-width: 1px 0;
	padding: .7em 0;
}
#main-nav li {
	display: inline-block;
	border-color: #ededed;
	border-style: solid;
	border-width: 0 0 0 1px;
	padding: 0 .7em;
	line-height: 1.5;
}
#main-nav li:first-child {
	border-left: none;
}
#main-nav .signed-in {
	display: none;
}
#main-nav a {
	color: #555555;
	text-transform: uppercase;
	text-decoration: none;
}
footer {
	clear: both;
	background-color: #2b2b2b;
	border-top: 4px solid #555555;
	margin: 0 -1.5em -3em;
	padding: .7em 1.5em;
	line-height: 2;
	color: #777777;
}
footer .copy {
	font-size: .8em;
}

#version-info {
	float: right;
}

div.git-uncommitted {
	background-color: rgb(43, 43, 43);
	/*width: 100%;*/
	padding: 4px;
}

h1, h2, h3, h4, h5, h6 {
	color: #3369af;
}

a, .ui-widget-content a {
	color: #096aa9;
}
.button-link {
	padding: 0;
	background: none;
	border: none;
	color: #096aa9;
	text-decoration: underline;
	cursor: pointer;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}


.button {
	color: white;
	background-color: #7cbe4c;
	background-image: none;
	font-weight: bold;
	border: 1px solid #5b8b38;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	padding: .3em .5em;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.button:focus {
	outline: 1px dotted #5b8b38;
}

.btn-controls > * {
	display: block;
	margin: 4px;
	padding: 0px;
	text-align: center;
	width: 160px;
}


table {
	border-collapse: collapse;
	width: 100%;
	margin: 1.5em 0;
}
thead tr {
	background-color: #ebebeb;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	color: black;
}
thead th {
	padding: .3em 1em;
	text-align: left;
	font-weight: normal;
}
tbody tr {
	border-bottom: 1px dashed #b5b5b5;
}
tbody tr:nth-child(even) {
	background-color: #e5f0fd;
}
tbody td {
	padding: 1em;
	text-align: left;
}

.control-row {
	margin: 1.5em 0;
	clear: both;
}
.control-row .button {
	font-size: 1.3em;
}

.control-row .right {
	float: right;
}

.inline-form .button {
	padding: 2px 4px;
	font-size: 9px;
}


textarea, input[type=text], input[type=password] {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.9em;
	/*width: 331px;*/
	width: 375px;
}

.ui-menu .ui-menu-item {
	margin: 0 16 0 0;
	white-space: nowrap;
}

.filterButtons {
	float:left;
}

.filterButtons button {
	background: #EBEBEB;
	border: 1px solid #CFCFCF;
	border-radius: 0;
	margin-left: -1px;
}
.filterButtons button:first-child {
	border-radius: 3px 0 0 3px;
}
.filterButtons button:last-child {
	border-radius: 0 3px 3px 0;
}
.filterButtons .selected {
	background-color: #2b2b2b;
	color: #ebebeb;
	border-color: black;
	box-shadow: 0 0 3px rgba(0,0,0,.9) inset;
}

div.localStorageUsage {
	float:right;
	margin: 1.5em 0;
}

div.oauth-info {
	border: 1px solid #000;
	cursor: text;
	padding: 4px;
}

input.password {
	float:left;
}

label.passwordSet {
	float:left;
}

div.passwordSet {
	float:left; 
	margin-left:5px; 
	margin-top:-4px;
}

.clear {
	clear: both;
}

.success {
	color: #7cbe4c;
}

.field-icon {
	float: left;
	padding-left: 5px;
	margin-top: -6px;
}

.success-icon {
	background-image: url('../img/check.png');
	min-height: 30px;
	min-width: 30px;
	max-height: 30px;
	max-width: 30px;
	display: block;

}

.error-icon {
	background-image: url('../img/error.png');
	min-height: 30px;
	min-width: 30px;
	max-height: 30px;
	max-width: 30px;
	display: block;
}

#notification-area .success {
	color: #7cbe4c;
	background-image: url('../img/check.png');
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding: 6px 0 6px 35px;
	min-height: 30px;
}


/* === Specific styling for tree control === */
.std-tree {
	max-width: 375px;
}

.std-tree .fancytree-container {
  height: 375px;
  overflow: auto;
  position: relative;
}



div.ccss.dotnotation {
	font-weight: bold;
}

div.ccss.text, div.ccss.title {
	white-space: normal;
	padding-right: 40px;
}



/* === Specific page and widget styles === */
.page h1 {
	font-size: 1.7em;
	margin: .75em 0;
}

.selectall {
	
}

.selectnone {
	margin-right: 1.5em;
}

#dropStatus2 {
	clear: both;
}

.filenames {
	padding-top: 10px;
}

.filenames span {
	font-size: .7em;
}

/*
.ui-menu .ui-menu-item .ui-menu-multilevel {width: 80px;}
*/

.sublegend {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom:5px;
}

.error {
	font-size: 1.0em;
	font-weight: bold;
	color: red;
}

#leftCol  {
	margin-right: 20px;
	width: 410px;
}
#middleCol  {
  float:right;
	width: 410px;
}
.fieldRow {
	margin:2px;
}

#testDiv {
	background-color:gainsboro;
}
#rightCol {
	float:right;
}
#edit #dropForm {
	display: none;
}

#edit select {
	width: 375px;
}

fieldset {
  padding: 1em;
}
label {
	/*float:left;
	width:25%;*/
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	/*font-weight:bold;*/
}
fieldset { 
	border:2px solid rgb(124, 190, 76);
	/*background-color:gainsboro;*/
	border-radius: 15px;
	margin-bottom: 15px;
}

legend {
	padding: 0.2em 0.5em;
	/*border:2px solid rgb(124, 190, 76);*/
	border: 1px solid rgb(182, 182, 182);
	border-radius: 15px;
	background-color:rgb(235, 235, 235);
	color:rgb(9, 106, 169);
	font-size:150%;
	text-align:left;
	font-weight:bold;
}

.round-btn {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
}

.round-btn span span {
    height: 20px !important;  
    line-height: 14px;
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}


/*
 *	jQuery UI overrides
 */

.control-row .ui-button-text-only .ui-button-text {
	padding: 0;
}

