<html>
	<head>
		<meta charset="UTF-8" />
		<title>Learning Registry Easy Publish</title>
		<link href="css/smoothness/jquery-ui-1.10.2.custom.css" rel="stylesheet" />
		<link href="css/jquery.fileupload-ui.css" rel="stylesheet" />
		<link href="css/jquery.ui.selectmenu.css" rel="stylesheet" />
		<link href="css/skin-lion/ui.fancytree.css" rel="stylesheet" />
		<link href="css/chosen.css" rel="stylesheet">
		<link href="css/easyPub.css" rel="stylesheet" />
		<link href="/_browserid/style.css" rel="stylesheet">
	</head>

	<body>
		<header role="banner">
			<h1 id="ez-publish-banner">EZ Publish</h1>
			<h2 id="learning-registry-banner">Learning Registry</h2>

			<nav id="main-nav" role="navigation">
				<ul>
					<li><a href="#logout" class="signed-in">Log Out</a></li>
					<li><a href="#settings" class="signed-in">Settings</a></li>
					<li><a href="http://learningregistry.org/easypublish-docs">Documentation</a></li>
					<li><a href="http://learningregistry.org">Learning Registry</a></li>
				</ul>
			</nav>
		</header>

		<div role="main" class="page" aria-live="polite">
			This page requires javascript.
		</div>

		<footer role="contentinfo">
			<div id="version-info" class="copy"></div>
			<div class="copy">&copy; 2013 Learning Registry</div>
		</footer>

		<div id="dialogContainer" aria-live="polite"></div>

		<script type="text/javascript" src="modules.js"></script>
		<script type="text/javascript">
			var $ = require("jquery"),
				jQuery = $,
				_ = require("underscore"),
				Backbone = require("backbone");
			Backbone.$ = $;
		</script>
		<script type="text/javascript" src="js/jquery/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.fileupload.js"></script>
		<script type="text/javascript" src="js/jquery/ui/jquery.fileupload-ui.js"></script>
		<script type="text/javascript" src="js/jquery/chosen.jquery.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.fancytree.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.selectText.js"></script>

		<!-- both are needed for file upload for some reason -->
		<script type="text/javascript" src="js/lib/oauth.js"></script>
		<script type="text/javascript" src="js/lib/json2.js"></script>
		<script type="text/javascript" src="js/datamanager.js"></script>
		<script type="text/javascript" src="/_browserid/include.js"></script>
		<script type="text/javascript" src="/_browserid/main.js"></script>

		<!-- used in add/edit page -->
		<script type="text/javascript" src="js/jquery/autoCombobox.js"></script>
		<script type="text/javascript" src="js/jquery/ui/jquery.ui.selectmenu.js"></script>
		<script type="text/javascript" src="js/data/subjects.js"></script>
		<script type="text/javascript" src="js/ccss.js"></script>
		<script type="text/javascript" src="js/treeMenu.js"></script>
		<script type="text/javascript" src="js/easyPub.js"></script>
		<script type="text/javascript" src="js/validator.js"></script>
		<script type="text/javascript" src="js/fields.js"></script>
		<script type="text/javascript" src="js/dnd.js"></script>

		<script type="text/javascript" src="js/backbone.localStorage-min.js"></script>

		<script type="text/javascript">
			require("lib/credentials");

			var utils = require("lib/util");
		</script>

		<script>

		var storedCredentials = false;

		var Router = Backbone.Router.extend({
			routes: {
				'login': 'login',
				'logout': 'logout',
				'': 'list',
				'create': 'create',
				'edit/:id': 'edit',
				'settings': 'settings'
				// not doing bulk edit
			},
			current : function() {
			    var Router = this,
			        fragment = Backbone.history.fragment,
			        routes = _.map(Router.routes, function(val, key) {return [key,val];}),
			        route = null, params = null, matched;

			    matched = _.find(routes, function(handler) {
			        route = _.isRegExp(handler[0]) ? handler[0] : Router._routeToRegExp(handler[0]);
			        return route.test(fragment);
			    });

			    if(matched) {
			        // NEW: Extracts the params using the internal
			        // function _extractParameters
			        params = Router._extractParameters(route, fragment);
			        route = matched[1];
			    }

			    return {
			        route : route,
			        fragment : fragment,
			        params : params
			    };
			}
		});

		var router = new Router();

		// Models
		var models = require("lib/models");
		var Item = models.Item;
		var ItemList = models.ItemList;
		var Items = new ItemList();

		var Preference =  models.Preference;
		var PreferenceList = models.PreferenceList;
		var Preferences = new PreferenceList();
		Preferences.fetch();

		$(function () {
			var users = require("users");



			function checkSession(event){
				if (storedCredentials) {
					users.get(storedCredentials.name, function(err, userObj, info){
			            if (err) {
			            	router.navigate('#logout', {trigger:true});
			            	if (typeof(w)!=="undefined") {
								w.terminate();
							}
			            }
			        });
				}
			}

			var w = undefined;


			// login and logout event handlers
			$.couch.browserid.login(function (event, error, user) {
				storedCredentials = user;
				$('#main-nav .signed-in').show();
				console.log("Logged In!");
				console.log(router.current());
				router.navigate('', {trigger:true});
				if (typeof(w)==="undefined") {
					w = new Worker("js/worker.js");
					w.onmessage = checkSession;
					w.postMessage({millis:180000});
				}
			});
			$.couch.browserid.logout(function (event, error, user) {
				if (error) {
					alert('Error logging out: ' + error);
				} else {
					storedCredentials = false;
					router.navigate('#login', {trigger:true});
					console.log("Logged Out!")
					$('#main-nav .signed-in').hide();
				}

			});

			// Views
			var Credentials = require("lib/views/credentials").Credentials;
			var credentials = new Credentials();

			var Logout = require("lib/views/logout").Logout;

			var logout = new Logout();

			var Help = require("lib/views/help").Help;

			var list_objs = require("lib/views/list");

			var List = list_objs.List;

			var list = list_objs.list;

			var ListItem = list_objs.ListItem;

			// var Count = require("lib/views/count").Count;

			var Create = require("lib/views/create").Create;
			var create = new Create();


			var Settings = require("lib/views/settings").Settings;
			var settings = new Settings();


			var Version = require("lib/views/version").Version;
			var version = new Version();
			version.render();

			// Routes
			router.on('route:login', function () {
				credentials.render();
			});
			router.on('route:logout', function () {
				logout.render();
			});
			router.on('route:list', function () {
				list.render();
			});
			router.on('route:create', function () {
				window.scrollTo(0,0);
				create.item = false;
				create.action = 'create';
				create.render();
			});
			router.on('route:edit', function (id) {
				window.scrollTo(0,0);
				var item = Items.findWhere({id:id});
				if (item != undefined) {
					create.item = item;
					create.action = 'edit';
					create.render();
				} else {
					router.navigate('create', {trigger:true});
				}
			});
			router.on('route:settings', function () {
				settings.render();
			});

			Backbone.history.start();
		});
		</script>

		<!-- templates -->
		<script type="text/template" id="credentials-template">
			<h1>Click "Sign in" to Login or Create an account.</h1>
			<div id="browserid" class="control-row">
				<div class="login">
					<img src="/_browserid/sign_in_blue.png">
				</div>
				<div class="picture"></div>
			</div>
		</script>

		<script type="text/template" id="list-template">
			<form class="bulkactions">
				<h1>Welcome <%= name %></h1>

				<div id="notification-area"></div>

				<p id="count"></p>

				<div class="control-row">
					<a href="#create" class="button">Register new item</a>
					<button class="button" id="bulkUpload">Bulk upload in CSV</button>
					<button class="button" id="sync">Sync from registry</button>
					<a href="#help" class="help round-btn">Help</a>
				</div>

				<% if (data.length > 0) { %>

				<div class="filterButtons control-row">
					Show:
					<button type="button" class="showAll selected">All</button><!-- no gap
					--><button type="button" class="showUnpublished">Registered</button><!-- no gap
					--><button type="button" class="showPublished">Published</button><!-- no gap
					--><button type="button" class="showModified">Modified</button><!-- no gap
					--><button type="button" class="showErrors">Errors</button>
				</div>
				<div class="localStorageUsage"></div>
				<div class="clear"></div>
				<div class="control-row">
					Select <button type="button" class="selectall button-link" data-checkboxes="items">All</button> |
					<button type="button" class="selectnone button-link" data-checkboxes="items">None</button>
					<span class="inline-form">
						<select name="bulkmenu" class="bulkmenu">
							<option value="publish">Publish</option>
							<option value="delete-local">Delete</option>
							<option value="delete-published">Delete Published</option>
						</select>
						<button type="button" class="button bulkactionsbtn">Go</button>
					</span>
				</div>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Link/Description</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="item-list">
					</tbody>
				</table>
				<div class="control-row">
					Select <button type="button" class="selectall button-link" data-checkboxes="items">All</button> |
					<button type="button" class="selectnone button-link" data-checkboxes="items">None</button>
					<span class="inline-form">
						<select name="bulkmenu" class="bulkmenu">
							<option value="publish">Publish</option>
							<option value="delete-local">Delete</option>
							<option value="delete-published">Delete Published</option>
						</select>
						<button type="button" class="button bulkactionsbtn">Go</button>
					</span>

					<div class="right">
						<div>
						Export
						<select name="formatmenu">
							<option value="ezjson">EZ Publish JSON</option>
							<option value="lrjson">LR JSON</option>
							<option value="ezcsv">EZ CSV</option>
						</select>
						<button type="button" class="export button-link" data-export="">All</button> |
						<button type="button" class="export button-link" data-export="Published">Published</button> |
						<button type="button" class="export button-link" data-export="Unpublished">Registered</button>
						</div>
						<div>
						Import
						<button type="button" class="import button-link" value="ezjson">EZ Publish JSON</button>
						</div>
					<div/>
				</div>
				<% } else { %>
				<div class="control-row">
					<div class="right">
						<div>
						Import
						<button type="button" class="import button-link" value="ezjson">EZ Publish JSON</button>
						</div>
					<div/>
				</div>
				<% } %>
			</form>
		</script>

		<script type="text/template" id="item-template">
			<%
				var envelope = item.get('data')[0],
					replacing = item.get('replacing'),
					jsonldUtil = require('lib/jsonldUtil'),
					resource_data = jsonldUtil.getResourceDataAsMicrodata(envelope),
					properties = resource_data.items[0].properties;
			%>
			<td>
				<input name="items" type="checkbox" data-item="<%= item.get('id') %>" />
			</td>
			<td>
				<% if (properties.name != undefined) { %>
					<%= properties.name %>
				<% } %>
			</td>
			<td>
				<% if (properties.url != undefined) { %>
					<a class="resource-url" href="<%= properties.url %>" target="_blank"><%= properties.url %></a>
				<% } %>
				<% if (properties.description != undefined) { %>
					<div class="description"><%- properties.description %></div>
				<% } %>
			</td>
			<td class="status">
				<% if (envelope.doc_ID != undefined) { %>
					<a href="/obtain?by_doc_ID=true&request_id=<%= envelope.doc_ID %>" target="_blank"><%= item.get('status') %></a>
				<% } else if (replacing != false && replacing[0].doc_ID != undefined) { %>
					<a href="/obtain?by_doc_ID=true&request_id=<%= replacing[0].doc_ID %>" target="_blank"><%= item.get('status') %></a>
				<% } else { %>
					<%= item.get('status') %>
				<% } %>
			</td>
			<td class="btn-controls">
				<% if (item.get('status') != 'Published'
					&&  item.get('status') != 'Modified') { %>
					<button class="edit button" data-item="<%= item.get('id') %>">Edit</button>
					<button class="delete button" data-item="<%= item.get('id') %>">Delete</button>
					<button class="publish button" data-item="<%= item.get('id') %>">Publish</button>
				<% } else if (item.get('status') == 'Published'
					|| item.get('status') == 'Modified') { %>
					<button class="edit button" data-item="<%= item.get('id') %>">Edit</button>
					<button class="delete button delete-local" data-item="<%= item.get('id') %>" data-delpub="false">Delete</button>
					<% if (item.get('status') == 'Modified') { %>
					<button class="publish button" data-item="<%= item.get('id') %>">Replace Published</button>
					<% } %>
					<button class="delete button delete-published" data-item="<%= item.get('id') %>" data-delpub="true">Delete Published</button>
				<% } %>
			</td>
		</script>

		<script type="text/template" id="count-template">
			<% if (total == 0) { %>
				You have registered 0 items
			<% } else if (total == 1) { %>
				You have registered 1 item
			<% } else { %>
				You have registered <%= total %> items
			<% } %>
		</script>

		<script type="text/template" id="notification-template">
			<p class="success">
				<% if (total == 0) { %>
					0 resources uploaded.
				<% } else if (total == 1) { %>
					1 resource uploaded.
				<% } else { %>
					<%= total %> resources uploaded.
				<% } %>
				<% if (errors > 0) { %>
					<% if (errors == 1) { %>
						<%= errors %> of them has errors that will need to be corrected before you can publish it.
					<% } else { %>
						<%= errors %> of them have errors that will need to be corrected before you can publish them.
					<% } %>
				<% } %>
			</p>
		</script>

		<script id="standards-template" type="text/template">
			<legend>Standards Alignment</legend>
			<select class="collections"></select>
			<div class="std-tree"></div>
			<select class="alignmentType"></select>
			<button class="std-add">Add Alignment</button>
			<div class="selected-alignments"></div>
		</script>


		<script id="alignment-template" type="text/template">
		<label for="<%=name%>"><%=title%></label>
		<select name="<%=name%>" id="<%=name%>" class="multi-choice" multiple></select>
		</script>


		<script type="text/template" id="edit-template">
			<div id="<%= action %>">
				<div id="middleCol">
					<form>
						<!-- <fieldset id="alignmentForm">
							<legend>Standards Alignment</legend>
							<div class="sublegend">Alignment 1</div>
							<button id="addAlignment">Add Alignment</button>
						</fieldset> -->
						<fieldset id="alignmentForm"></fieldset>
						<fieldset id="authorForm">
							<legend>Authors</legend>
							<div class="sublegend">Author 1</div>
							<button id="addAuthor">Add Author</button>
						</fieldset>
						<fieldset id="publisherForm">
							<legend>Publisher</legend>
						</fieldset>
					</form>
				</div>
				<div id="leftCol">
					<form>
						<fieldset id="dropForm">
							<legend>Import Data</legend>
							<span class="btn btn-success fileinput-button">
									<span>Select File...</span>
									<input type="file" name="files[]" id="csvFile">
							</span>
							<button class="round-btn" id="csvHelp"></button>
							<a href="template.csv">Download CSV Template</a>
							<p>
								<label for="dataSelect">Select a Dataset:</label>
								<br><br>
								<select name="dataSelect" id="dataSelect">
									<option value='No Data'>No Data</option>
								</select>
								<button id="removeRow" class="btn">Remove Row</button>
							</p>
							<div>
								<button id="prevData">Previous</button><button id="nextData">Next</button>
							</div>
						</fieldset>
					</form>
					<form>
						<fieldset id="mainForm">
							<legend>Resource Information</legend>
						</fieldset>
						<fieldset id="a11yForm">
							<legend>Accessiblity Information</legend>
						</fieldset>
					</form>
				</div>
				<div class="control-row">
					<button id="Save" class="button">Save Data</button>
					<button id="Submit" class="button">Submit Data To Learning Registry</button>
					<a href="#" id="Back">Back to item list</a>
				</div>
			</div>
		</script>


		<script type="text/template" id="confirm-template" data-dialog-title="Confirm">
			<div class="confirm-msg"><%= message %></div>
			<div class="control-row">
				<button class="button confirm-answer" data-value="yes"><%= (yes!=undefined) ? yes : "Yes" %></button>
				<button class="button confirm-answer" data-value="no"><%= (no!=undefined) ? no : "No" %></button>
			</div>
		</script>

		<script type="text/template" id="upload-template" data-dialog-title="Import Data">
			<span class="btn btn-success fileinput-button">
					<span>Select File...</span>
					<input type="file" name="files[]" id="csvFile">
			</span>
			<button class="round-btn" id="csvHelp"></button>
			<a href="template.csv">Download CSV Template</a>
			<div id="dropStatus2"></div>
			<div class="control-row">
				<button type="button" id="LoadData" class="button">Load</button>
				<button type="button" id="LoadCancel" class="button-link">Cancel</button>
			</div>
		</script>


		<script type="text/template" id="import-template" data-dialog-title="Import EZ Publish JSON Export File">
			<span class="btn btn-success fileinput-button">
					<span>Select File...</span>
					<input type="file" name="files[]" id="jsonFile">
			</span>
			<button class="round-btn" id="importHelp"></button>
			<div id="importLabel" class="importFiles"></div>
			<div class="control-row">
				<input type="checkbox" id="importAsNew">
				Import as new
			</div>
			<div class="control-row">
				<button type="button" id="ImportData" class="button" data-file="#jsonFile">Load</button>
				<button type="button" id="ImportCancel" class="button-link">Cancel</button>
			</div>
		</script>

		<script id="submitter-template" type="text/template">
		<% if (username && vanityname) { %>
			&quot;<%= vanityname %> &lt;<%= username %>&gt;&quot;
		<% } else if (username) { %>
			&quot;<%= username %>&quot;
		<% } else { %>
			<span class="error">Error: Username not set</span>
		<% } %>
		</script>

		<script type="text/template" id="settings-template">
			<fieldset>
				<legend>Browser Local Storage</legend>
				<p>EZ Publish stores all of the content you edit into your browsers local storage. Many browsers limit this capacity to 5MB. Firefox permits you to modify the default value by going to <a href="about:config" target="">about:config</a> and search for "dom.storage.default_quota" option. This value is in kilobytes.</p>
				<div class="localStorageUsed">Unknown KB Used</div>
				<div class="localStorageRemain">Unknown KB Remaining</div>
				<div class="control-row">
					<button class="calc-ls button">Calculate Remaining</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>CSV Preferences</legend>
				<p>If you would like to customize the way CSV files are formatted for import and export, modify the values in this section and click save.</p>
				<div class="fieldRow">
					<label for="csv-quote-char">Quote Character</label>
					<br>
					<input type="text" class="csv-quote-char csv-pref" name="csv-quote-char">
					<br>
				</div>
				<div class="fieldRow">
					<label for="csv-row-delim">Row Delimeter</label>
					<br>
					<input type="text" class="csv-row-delim csv-pref" name="csv-row-delim">
					<br>
				</div>
				<div class="fieldRow">
					<label for="csv-col-delim">Column Delimeter</label>
					<br>
					<input type="text" class="csv-col-delim csv-pref" name="csv-col-delim">
					<br>
				</div>
				<div class="fieldRow">
					<label for="csv-cell-delim">Export Cell Delimeter</label>
					<br>
					<input type="text" class="export-csv-cell-delim csv-pref" name="export-csv-cell-delim">
					<br>
				</div>
				<div class="fieldRow">
					<label for="csv-cell-delim">Import Cell Delimeter Regular Expression</label>
					<br>
					<input type="text" class="csv-cell-delim csv-pref" name="csv-cell-delim">
					<br>
				</div>
				<div class="control-row">
					<button class="save-csv button" type="button">Save</button>
					<button class="reset-csv button">Defaults</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>Full Name for Submitter field</legend>

				<div class="fieldRow">
					<label class="preview">Preview</label>
					<br/>
					<div class="submitter-display"></div>
					<br/>
				</div>
				<div class="fieldRow">
					<label for="submitter">Full Name</label>
					<br/>
					<input type="text" class="submitter" name="submitter">
					<br/>
				</div>
				<div class="control-row">
					<button class="update-submitter button" type="button">Save</button>
				</div>

			</fieldset>
			<fieldset>
				<legend>Basic Authentication Password</legend>
				<p>Setting a password here is not required, but if you wish to publish to the node using the API directly, you may want to set a password here.</p>
				<div class="fieldRow">
					<label class="passwordSet">Is Password Set?</label>
					<div class="passwordSet"></div>
					<br>
					<br class="clear">
				</div>
				<div class="fieldRow pwdmsg">
				</div>
				<div class="fieldRow">
					<label for="password1">Password</label><br>
					<input name="password1" type="password" class="password">
					<div class="field-icon">
						<div class="pwdok"></div>
					</div>
					<br class="clear">

					<label for="password2">Repeat Password</label><br>
					<input name="password2" type="password" class="password verify">
					<div class="field-icon">
						<div class="pwdok"></div>
					</div>
					<br class="clear">
				</div>
				<div class="control-row">
					<button type="button" class="button save-password">Save</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>OAuth 1.0a Configuration</legend>
				<p>EZ Publish uses OAuth authorization and authentication to publish resources into the node. You may also use these same credentials from your own application to publish directly to this node. In some cases you might need to regenerate your authorization secrets, you can do that by clicking regenerate below.</p>
				<% for(var key in userObj.oauth.consumer_keys) { %>
				<div class="fieldRow">
					<label for="consumerKey">Consumer Key</label>
					<br>
					<div id="consumerKey" class="oauth-info"><%= key %></div>
					<br>
				</div>
				<div class="fieldRow">
					<label for="consumerSecret">Consumer Secret</label>
					<br>
					<div id="consumerSecret" class="oauth-info"><%= userObj.oauth.consumer_keys[key] %></div>
					<br>
				</div>
				<% } %>
				<% for(var token in userObj.oauth.tokens) { %>
				<div class="fieldRow">
					<label for="token">Token</label>
					<br>
					<div id="token" class="oauth-info"><%=token%></div>
					<br>
				</div>
				<div class="fieldRow">
					<label for="tokenSecret">Token Secret</label>
					<br>
					<div id="tokenSecret" class="oauth-info"><%=userObj.oauth.tokens[token]%></div>
					<br>
				</div>
				<% } %>
				<div class="control-row">
					<button class="button regenOAuth">Regenerate</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>Other Options</legend>
				<div class="fieldRow">
					<p>This deletes all resources from EZ Publish local storage.  It does not remove anything that has been published into the Learning Registry itself. This should be used when you wish to remove previous work and need to start over from scratch.</p>
				</div>
				<div class="control-row">
					<button class="button purgeAll">Purge All Local Records</button>
				</div>
			</fieldset>
			<div class="control-row">
				<a href="#" id="Back">Back to item list</a>
			</div>
		</script>

		<script type="text/template" id="csv-help-template">
			<p>If you wish to enter data more rapidly, you can submit a CSV file. First click "Download CSV Template" to get a template file. Then add rows of data to that file. Next, import the file by clicking "Select file..."</p>
		</script>

		<script type="text/template" id="version-info-template">
			<%
				var git = kanso.git;

				if (git) { %>
			Git SHA: <a class="git-details" target="_blank" href="https://github.com/easypublish/EasyPublish/commits/<%= git.commit %>"><%= git.commit %></a>
			<% } %>

			<% if (git.uncommitted && git.uncommitted.length > 0) { %>

				<button class="button git-uncommitted">Git Uncommited</button>

				<div class="git-uncommitted" style="display: none;">
				Built: <%= kanso.build_time %><br>
				<% for (var i=0; i<git.uncommitted.length; i++) { %>
					<%= git.uncommitted[i] %><br>
				<% } %>
				</div>

			<%}%>
		</script>

	</body>
</html>
