<html>
	<head>
		<meta charset="UTF-8" />
		<title>Learning Registry Easy Publish</title>
		<link href="css/smoothness/jquery-ui-1.10.2.custom.css" rel="stylesheet" />
		<link href="css/jquery.fileupload-ui.css" rel="stylesheet" />
		<link href="css/jquery.ui.selectmenu.css" rel="stylesheet" />
		<link href="css/easyPub.css" rel="stylesheet" />
		<link href="/_browserid/style.css" rel="stylesheet">
	</head>

	<body>
		<header role="banner">
			<h1 id="ez-publish-banner">EZ Publish</h1>
			<h2 id="learning-registry-banner">Learning Registry</h2>

			<nav id="main-nav" role="navigation">
				<ul>
					<li><a href="#logout" class="signed-in">Log Out</a></li>
					<li><a href="#settings" class="signed-in">Settings</a></li>
					<li><a href="http://learningregistry.org">Learning Registry</a></li>
				</ul>
			</nav>
		</header>

		<div role="main" class="page">
			This page requires javascript.
		</div>

		<footer role="contentinfo">
			<div class="copy">&copy; 2013 Learning Registry</div>
		</footer>

		<div id="dialogContainer"></div>

		<script type="text/javascript" src="modules.js"></script>
		<script type="text/javascript">
			var $ = require("jquery"),
				jQuery = $,
				_ = require("underscore"),
				Backbone = require("backbone");
			Backbone.$ = $;
		</script>
		<script type="text/javascript" src="js/jquery/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.fileupload.js"></script>
		<script type="text/javascript" src="js/jquery/ui/jquery.fileupload-ui.js"></script><!-- both are needed for file upload for some reason -->
		<script type="text/javascript" src="js/lib/oauth.js"></script>
		<script type="text/javascript" src="js/datamanager.js"></script>
		<script type="text/javascript" src="/_browserid/include.js"></script>
		<script type="text/javascript" src="/_browserid/main.js"></script>

		<!-- used in add/edit page -->
		<script type="text/javascript" src="js/jquery/autoCombobox.js"></script>
		<script type="text/javascript" src="js/jquery/ui/jquery.ui.selectmenu.js"></script>
		<script type="text/javascript" src="js/data/standardsTree.js"></script>
		<script type="text/javascript" src="js/data/subjects.js"></script>
		<script type="text/javascript" src="js/ccss.js"></script>
		<script type="text/javascript" src="js/treeMenu.js"></script>
		<script type="text/javascript" src="js/easyPub.js"></script>
		<script type="text/javascript" src="js/validator.js"></script>
		<script type="text/javascript" src="js/fields.js"></script>
		<script type="text/javascript" src="js/dnd.js"></script>
		<script type="text/javascript" src="js/upload.js"></script>

		<script type="text/javascript" src="js/backbone.localStorage-min.js"></script>

		<script type="text/javascript">
			require("lib/credentials");
		</script>

		<script>

    function oauthRequest(path, message, accessor, undefined) {
        message.action = path;
        message.method = 'POST';
        OAuth.completeRequest(message, accessor);
        var parameters = message.parameters;
        var options = {
            headers: {
                Authorization: OAuth.getAuthorizationHeader('', parameters)
            },
            data: JSON.stringify(message.body)
        }

        return commonAjax('POST', path, options);
    }
    function commonAjax(method, url, options) {
        var settings = {
            type: method,
            contentType: "application/json",
            dataType: "json"
        }
        if (options) {
            settings = _.extend(settings, options);
        }
        var request = $.ajax(url, settings);

        return request;
    }

		var storedCredentials = false;

		var Router = Backbone.Router.extend({
			routes: {
				'login': 'login',
				'logout': 'logout',
				'': 'list',
				'create': 'create',
				'edit/:id': 'edit',
				'settings': 'settings'
				// not doing bulk edit
			}
		});
		var router = new Router();

		// Models
		var Item = Backbone.Model.extend({
			defaults: {
				data:'',
				status:'Unpublished'	// Allowed values are Published, Unpublished, and Error
			},
			publish: function (cb) {
				var instance = this;

				if (this.get('status') != 'Error') {
			        var envelopes = this.get('data');

			        var oauth_data = storedCredentials.oauth;
			        if(oauth_data==null) {
			            console.log("null oauth_data, aborting submit")
			            return;
			        } else {
			            var message = {
			                parameters: {},
			                body: {
			                    documents: envelopes
			                }
			            };
			            request = oauthRequest(oauth_data.node_url + '/publish', message, oauth_data);
			            
			            request.done(function(msg) {
			                console.log("Done");
			                console.log(msg);
			                if(msg.OK) {
			                	instance.save('status','Published');
			                    if (cb) {
			                        cb(msg.document_results);
			                    }
			                } else {
			                    alert("Submission failed:\n" + JSON.stringify(msg.document_results));
			                }
			            });

			            request.fail(function(msg) {
			                console.log("Fail");
			                console.log(msg);
			                alert("Submission failed.");
			            });
			        }
			    } else {
			    	alert("You cannot publish items with errors.");
			    }
		    }
		});
		var ItemList = Backbone.Collection.extend({
			model: Item,
			localStorage: new Backbone.LocalStorage("EZPublishItems")
		});
		var Items = new ItemList();

		$(function () {

			// login and logout event handlers
			$.couch.browserid.login(function (event, error, user) {
				storedCredentials = user;
				$('#main-nav .signed-in').show();
				router.navigate('', {trigger:true});
			});
			$.couch.browserid.logout(function (event, error, user) {
				if (error) {
					alert('Error logging out: ' + error);
				} else {
					storedCredentials = false;
					router.navigate('#login', {trigger:true});
					$('#main-nav .signed-in').hide();
				}
			});

			// Views
			var Credentials = Backbone.View.extend({
				el: '.page',
				render: function () {
					if (storedCredentials) {
						$('#main-nav .signed-in').show();
						router.navigate('', {trigger:true});
					} else {
						var template = _.template($('#credentials-template').html());
						this.$el.html(template);
						
						var loginWidget = this.$el.find('#browserid .login');
						var icon = loginWidget.find('> img');
						if (icon.is(':hidden')) {
							// login widget setup only runs once on page load, set it back up after logout
							loginWidget.show().removeClass('pending');
							icon.show();

							$('#browserid .picture').empty();
							loginWidget.find('span').remove();
							loginWidget.find('a.logout').remove();

							loginWidget.addClass("clickable");
							loginWidget.click(function() {
								$.couch.browserid.login();
							});
						}
					}
				}
			});
			var credentials = new Credentials();

			var Logout = Backbone.View.extend({
				el: '.page',
				render: function () {
					$.couch.browserid.logout();
				}
			});
			var logout = new Logout();

			var Help = Backbone.View.extend({
				tagName: 'div',
				render: function () {
					var view = this;
					var template = _.template($('#csv-help-template').html(), {});
					this.$el.html(template);
					$('#dialogContainer').append(this.el);
					this.$el.dialog({
						autoOpen: true,
						close: function (event, ui) {
							$(this).dialog('destroy').remove();
							view.remove();
						}
					});
				}
			});

			var List = Backbone.View.extend({
				el: '.page',
				render: function () {
					if (!storedCredentials) {
						router.navigate('login', {trigger:true});
					} else {
						Items.fetch();
						var template = _.template($('#list-template').html(), {name:storedCredentials.name,data:Items.models});
						this.$el.html(template);
						Items.each(this.addOne, this);
						var count = new Count();
						count.render();
					}
				},
				events: {
					'click .selectall': 'selectall',
					'submit .bulkactions': 'doInBulk',
					'click .showAll': 'showAll',
					'click .showPublished': 'showPublished',
					'click .showUnpublished': 'showUnpublished',
					'click .help': 'showHelp',
					'click #bulkUpload': 'showUpload'
				},
				addOne: function (item) {
					var view = new ListItem({model: item});
					this.$("#item-list").append(view.render().el);
				},
				selectall: function (event) {
					event.preventDefault();
					var button = $(event.target);
					var fieldname = button.attr('data-checkboxes');
					button.closest('form').find('[name="' + fieldname + '"]').prop('checked', true);
				},
				doInBulk: function (event) {
					event.preventDefault();
					var form = $(event.target);
					var selected = form.find('[name="items"]:checked');
					var action = form.find('[name="bulkmenu"]').val();
					selected.each(function (index, el) {
						$(el).closest('tr').find('.' + action).trigger('click');
					});
				},
				showAll: function (event) {
					event.preventDefault();
					this.$("#item-list").empty();
					this.$(".filterButtons button").removeClass('selected');
					$(event.target).addClass('selected');
					Items.each(this.addOne, this);
				},
				showPublished: function (event) {
					event.preventDefault();
					this.$("#item-list").empty();
					this.$(".filterButtons button").removeClass('selected');
					$(event.target).addClass('selected');
					var filtered = Items.where({status:'Published'});
					for (var i=0,l=filtered.length; i<l; i++) {
						this.addOne(filtered[i]);
					}
				},
				showUnpublished: function (event) {
					event.preventDefault();
					this.$("#item-list").empty();
					this.$(".filterButtons button").removeClass('selected');
					$(event.target).addClass('selected');
					var filtered = Items.where({status:'Unpublished'});
					for (var i=0,l=filtered.length; i<l; i++) {
						this.addOne(filtered[i]);
					}
				},
				showHelp: function (event) {
					event.preventDefault();
					var help = new Help();
					help.render();
				},
				showUpload: function (event) {
					event.preventDefault();
					var upload = new Upload();
					upload.render();
				}
			});
			var list = new List();
			var ListItem = Backbone.View.extend({
				tagName: 'tr',
				initialize: function () {
					this.listenTo(this.model, 'change', this.render);
					this.listenTo(this.model, 'destroy', this.remove);
					this.listenTo(list, 'render', this.destroy);
				},
				render: function () {
					var template = _.template($('#item-template').html(), {item:this.model});
					this.$el.html(template);
					return this;
				},
				events: {
					'click .publish': 'publish',
					'click .unpublish': 'unpublish',
					'click .delete': 'delete'
				},
				publish: function (event) {
					event.preventDefault();
					this.model.publish(function () {
					});
				},
				unpublish: function (event, cb) {
					// TODO
					event.preventDefault();
					var success = true;
					if (success && cb) {
						cb(event);
					}
				},
				delete: function (event) {
					event.preventDefault();
					var instance = this;
					this.unpublish(event, function (event) {
						instance.model.destroy();
					});
				}
			});
			var Count = Backbone.View.extend({
				el: '#count',
				initialize: function () {
					this.listenTo(Items, 'add', this.render);
					this.listenTo(Items, 'destroy', this.render);
					this.listenTo(list, 'render', this.destroy);
				},
				render: function () {
					var template = _.template($('#count-template').html(), {total:Items.length});
					this.$el.html(template);
				}
			});
			
			var Create = Backbone.View.extend({
				el: '.page',
				action: 'create',
				item: false,
				render: function () {
					if (!storedCredentials) {
						router.navigate('login', {trigger:true});
					} else {
						var view = this;
						var template = _.template($('#edit-template').html(), {action:this.action});
						this.$el.html(template);
						if (this.item) {
							this.easyPub = new EasyPublish(this.item.get('data')[0]);
						} else {
							this.easyPub = new EasyPublish();
						}

						this.easyPub.buildForm("main", this.easyPub.fieldManager.mainFields);
						this.easyPub.buildForm("alignment", this.easyPub.fieldManager.alignmentFields);
						this.easyPub.buildForm("author", this.easyPub.fieldManager.authorFields);
						this.easyPub.buildForm("publisher", this.easyPub.fieldManager.publisherFields);

						// Dynamic buttons and menus in the Import Data box
						var dataSelect = this.$el.find('#dataSelect');
						dataSelect.selectmenu({
							style:'popup',
							width: 300,
						    change: function(e, object){
						        view.easyPub.setImportIndex(dataSelect.selectmenu("index"), false, true);
						    }
						});
						dataSelect.selectmenu('disable');
						this.$el.find('#removeRow').button({
							disabled: true
						});
						this.$el.find('#csvHelp').button({
							icons: {
								primary: 'ui-icon-help'
							},
							text: false
						});
						this.$el.find('#prevData').button({
							icons: {
								primary: 'ui-icon-arrowthick-1-w',
							},
							disabled: true 
						});
						this.$el.find('#nextData').button({
							icons: {
								secondary: 'ui-icon-arrowthick-1-e',
							},
							disabled: true 
						});
					}
				},
				events: {
					'click #Save': 'save',
					'click #Submit': 'publish',
					'click #csvHelp': 'help',
					'click #prevData': 'prevImportData',
					'click #nextData': 'nextImportData',
					'click #removeRow': 'removeImportRow'
				},
				publish: function (event) {
					event.preventDefault();
					if(this.easyPub.validateAll()) {
						var view = this;
						var data = this.easyPub.dataManager.makeAllEnvelopes();
						// publish all items all together
						if (this.item) {
							this.item.save({data:data});
						} else {
							this.item = Items.create({data:data, status:'Unpublished'});
						}
						this.item.publish(function () {
							// then create new items if there is more than one imported item
							var arr = view.item.get('data');
							if (arr.length > 1) {
								for (var i=1,l=arr.length; i<l; i++) {
									Items.create({data:[arr[i]], status:'Published'});
								}
								view.item.save({'data':[arr[0]]});
							}
							router.navigate('', {trigger:true});
						});
					} else {
						alert("Please correct the indicated problems");
					}
				},
				save: function (event) {
					event.preventDefault();
					if (window.File && window.FileReader && window.FileList && window.Blob) {
						if(this.easyPub.validateAll()) {
							var data = this.easyPub.dataManager.makeAllEnvelopes();
							if (this.item) {
								this.item.save({data:data});
							} else {
								for (var i=0,l=data.length; i<l; i++) {
									Items.create({data:[data[i]], status:'Unpublished'});
								}
							}
							router.navigate('', {trigger:true});
						} else {
							alert("Please correct the indicated problems");
						}
					} else {
						alert('The File APIs are not fully supported in this browser. You will not be able to save locally before publishing.');
					}
				},
				help: function (event) {
					event.preventDefault();
					new Help().render();
				},
				prevImportData: function (event) {
					event.preventDefault();
					if (this.easyPub.importIndex > 0) {
						this.easyPub.setImportIndex(this.easyPub.importIndex - 1, true, true);
					}
				},
				nextImportData: function (event) {
					event.preventDefault();
					if (this.easyPub.importIndex < (this.easyPub.importedData.numRows - 1)) {
						this.easyPub.setImportIndex(this.easyPub.importIndex + 1, true, true);
					}
				},
				removeImportRow: function (event) {
					event.preventDefault();
					// this didn't seem to do anything in old EasyPub.js, either
				}
			});
			var create = new Create();

			var Upload = Backbone.View.extend({
				tagName: 'div',
				render: function () {
					var view = this;
					var template = _.template($('#upload-template').html(), {});
					this.$el.html(template);
					$('#dialogContainer').append(this.el);
					this.$el.dialog({
						autoOpen: true,
						title: $('#upload-template').attr('data-dialog-title'),
						close: function (event, ui) {
							$(this).dialog('destroy').remove();
							view.remove();
						}
					});
					this.$el.find("#csvHelp").button({
						icons: {
							primary: "ui-icon-help"
						},
						text: false
					});
					// var uploader = new Uploader();
				},
				events: {
					'click #LoadCancel': 'cancel',
					'click #LoadData': 'load',
					'click #csvHelp': 'help'
				},
				cancel: function (event) {
					event.preventDefault();
					console.log("Cancelled");
					this.$el.dialog('close');
				},
				load: function(event) {
					event.preventDefault();
					console.log("Loaded");
					this.$el.dialog('close');
				},
				help: function (event) {
					event.preventDefault();
					new Help().render();
				}
			});

			var Settings = Backbone.View.extend({
				el: '.page',
				render: function () {
					if (!storedCredentials) {
						router.navigate('login', {trigger:true});
					} else {
						var template = _.template($('#settings-template').html(), {});
						this.$el.html(template);
					}
				}
			});
			var settings = new Settings();

			// Routes
			router.on('route:login', function () {
				credentials.render();
			});
			router.on('route:logout', function () {
				logout.render();
			});
			router.on('route:list', function () {
				list.render();
			});
			router.on('route:create', function () {
				create.item = false;
				create.action = 'create';
				create.render();
			});
			router.on('route:edit', function (id) {
				var item = Items.findWhere({id:id});
				if (item != undefined) {
					create.item = item;
					create.action = 'edit';
					create.render();
				} else {
					router.navigate('create', {trigger:true});
				}
			});
			router.on('route:settings', function () {
				settings.render();
			});

			Backbone.history.start();
		});
		</script>

		<!-- templates -->
		<script type="text/template" id="credentials-template">
			<h1>Enter Your Credentials</h1>
			<div id="browserid" class="control-row">
				<div class="login">
					<img src="/_browserid/sign_in_blue.png">
				</div>
				<div class="picture"></div>
			</div>
		</script>

		<script type="text/template" id="list-template">
			<form class="bulkactions">
				<h1>Welcome <%= name %></h1>

				<p id="count"></p>

				<div class="control-row">
					<a href="#create" class="button">Register new item</a>
					<button class="button" id="bulkUpload">Bulk upload in CSV</button>
					<a href="#help" class="help">Help</a>
				</div>

				<% if (data.length > 0) { %>
				<div class="filterButtons control-row">
					Show:
					<button type="button" class="showAll selected">All</button><!-- no gap
					--><button type="button" class="showUnpublished">Registered</button><!-- no gap
					--><button type="button" class="showPublished">Published</button>
				</div>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Link</th>
							<th>Description</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="item-list">
					</tbody>
				</table>
				<div class="control-row">
					<button type="button" class="selectall button-link" data-checkboxes="items">Select All</button>
					<span class="inline-form">
						<select name="bulkmenu">
							<option value="delete">Delete</option>
							<option value="publish">Publish</option>
						</select>
						<button type="submit" class="button">Go</button>
					</span>
				</div>
				<% } %>
			</form>
		</script>

		<script type="text/template" id="item-template">
			<% var properties = item.get('data')[0].resource_data.items[0].properties; %>
			<td>
				<% if (item.get('status') != 'Published') { %>
					<!-- for now, no modifying published items -->
					<input name="items" type="checkbox" data-item="<%= item.get('id') %>" />
				<% } %>
			</td>
			<td><%= properties.name %></td>
			<td><a href="<%= properties.url %>"><%= properties.url %></a></td>
			<td>
				<% if (properties.description != undefined) { %>
					<%= properties.description %>
				<% } %>
			</td>
			<td class="status"><%= item.get('status') %></td>
			<td>
				<% if (item.get('status') != 'Published') { %>
					<!-- for now, no modifying published items -->
					<a href="#edit/<%= item.get('id') %>" class="button">Edit</a>
					<button class="delete button" data-item="<%= item.get('id') %>">Delete</button>
					<button class="publish button" data-item="<%= item.get('id') %>">Publish</button>
				<% } %>
			</td>
		</script>

		<script type="text/template" id="count-template">
			<% if (total == 0) { %>
				You have registered 0 items
			<% } else if (total == 1) { %>
				You have registered 1 item
			<% } else { %>
				You have registered <%= total %> items
			<% } %>
		</script>

		<script type="text/template" id="edit-template">
			<div id="<%= action %>">
				<div id="middleCol">
					<form>
						<fieldset id="alignmentForm">
							<legend>Standards Alignment</legend>
							<div class="sublegend">Alignment 1</div>
							<button id="addAlignment">Add Alignment</button>
						</fieldset>
						<fieldset id="authorForm">
							<legend>Authors</legend>
							<div class="sublegend">Author 1</div>
							<button id="addAuthor">Add Author</button>
						</fieldset>
						<fieldset id="publisherForm">
							<legend>Publisher</legend>
						</fieldset>
					</form>
				</div>
				<div id="leftCol">
					<form>
						<fieldset id="dropForm">
							<legend>Import Data</legend>
							<span class="btn btn-success fileinput-button">
									<span>Select File...</span>
									<input type="file" name="files[]" id="csvFile">
							</span>
							<button class="round-btn" id="csvHelp"></button>
							<a href="template.csv">Download CSV Template</a>
							<p>
								<label for="dataSelect">Select a Dataset:</label>
								<br><br>
								<select name="dataSelect" id="dataSelect">
									<option value='No Data'>No Data</option>
								</select>
								<button id="removeRow" class="btn">Remove Row</button>
							</p>
							<div>
								<button id="prevData">Previous</button><button id="nextData">Next</button>
							</div>
						</fieldset>
					</form>
					<form>
						<fieldset id="mainForm">
							<legend>Resource Information</legend>
						</fieldset>
					</form>
				</div>
				<div class="control-row">
					<button id="Save" class="button">Save Data</button>
					<button id="Submit" class="button">Submit Data To Learning Registry</button>
					<a href="#" id="Back">Back to item list</button>
				</div>
			</div>
		</script>

		<script type="text/template" id="upload-template" data-dialog-title="Import Data">
			<span class="btn btn-success fileinput-button">
					<span>Select File...</span>
					<input type="file" name="files[]" id="csvFile">
			</span>
			<button class="round-btn" id="csvHelp"></button>
			<a href="template.csv">Download CSV Template</a>
			<div class="control-row">
				<button type="button" id="LoadCancel">Cancel</button>
				<button type="button" id="LoadData">Load</button>
			</div>
		</script>

		<script type="text/template" id="settings-template">
			<p>TODO: settings template</p>
		</script>

		<script type="text/template" id="csv-help-template">
			<p>If you wish to enter data more rapidly, you can submit a CSV file. First click "Download CSV Template" to get a template file. Then add rows of data to that file. Next, import the file by clicking "Select file..."</p>
		</script>



		<!-- make easyPub.js happy -->
		<script id="importFailDialogTemplate" type="text/template">
			<div id="<%= guid %>" title="Import Attempt Failed">
				<p>Cannot import CSV file, it is missing the following fields:</p>
				<p><%= missingFieldsList %></p>
			</div>
		</script>
		<script id="importWarningDialogTemplate" type="text/template">
			<div id="<%= guid %>" title="Import Warning">
				<p>Import will proceed but the following columns are extraneous and will be ignored:</p>
				<p><%= extraHeadersList %></p>
			</div>
		</script>
	</body>
</html>